<% include ./partials/header %>


    <body class="contact page page-template-default">

        <!-- Preloader Gif -->
        <table class="doc-loader">
            <tbody>
                <tr>
                    <td>
                        <img src="/static/images/ajax-document-loader.gif" alt="Loading...">
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Left Sidebar -->
        <div id="sidebar" class="sidebar">
            <div class="menu-left-part">
                <div class="search-holder">
                    <label>
                        <input type="search" class="search-field" placeholder="Type here to search..." value="" name="s" title="Search for:">
                    </label>
                </div>
                <div class="site-info-holder">
                    <div class="site-title">Suppablog</div>
                    <p class="site-description">
                        Suppablog is simple and yet cool wordpress theme to lorem ipsum dolor sit.
                    </p>
                </div>
                <nav id="header-main-menu">
                    <ul class="main-menu sm sm-clean">
                        <li><a href="index">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="scroll">Scroll</a></li>
                        <li><a href="contact" class="current">Contact</a></li>
                    </ul>
                </nav>
                <footer>
                    <div class="footer-info">
                        © 2018 SUPPABLOG HTML TEMPLATE. <br> CRAFTED WITH <i class="fa fa-heart"></i> BY <a href="https://colorlib.com">COLORLIB</a>.
                    </div>
                </footer>
            </div>
            <div class="menu-right-part">
                <div class="logo-holder">
                    <a href="index">
                        <img src="/static/images/logo.png" alt="Suppablog WP">
                    </a>
                </div>
                <div class="toggle-holder">
                    <div id="toggle">
                        <div class="menu-line"></div>
                    </div>
                </div>
                <div class="social-holder">
                    <div class="social-list">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-vimeo"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-rss"></i></a>
                    </div>
                </div>
                <div class="fixed scroll-top"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i></div>
            </div>
            <div class="clear"></div>
        </div>

        <!-- Contact Content -->
        <div id="content" class="site-content">

            <div class="page-header-map relative">
                <script>
                    var lat = "48.87209";
                    var lng = "2.34791";
                    var marker_lat = "48.87209";
                    var marker_lng = "2.34791";
                    var zoom = 16;
                </script>
                <div class="map" id="map"></div>
            </div>


            <article>
                <div class="content-1070 center-relative entry-content">
                    <div class="content-900 center-relative">
                        <h1 class="entry-title">Contact</h1>
                        <div class="one_half ">
                            We choose to go to the moon in this decade and do the other things, not because they are easy.<p></p>
                            <br>
                            <p>Because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone and one.</p>
                            <br>
                            <div class="montserrat">
                                <span style="color: #adadad;">Address:</span>&nbsp;New York, NY, United States<br>
                                <span style="color: #adadad;">Phone:</span> +1 234-567-890<br>
                                <span style="color: #adadad;">Hours:</span> 6:00 am – 2:00 am
                            </div>
                        </div>
                        <div class="one_half last ">
                            <div class="contact-form">
                                <p><input id="name" type="text" name="your-name" placeholder="Name"></p>
                                <p><input id="contact-email" type="email" name="your-email" placeholder="Email"></p>
                                <p><input id="subject" type="text" name="your-subject" placeholder="Subject"></p>
                                <p><textarea id="message" name="your-message" placeholder="Message"></textarea></p>
                                <p><input type="submit" onClick="SendMail()" value="SEND"></p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </article>


        </div>


<% include ./partials/footer %>


