<% include ./partials/header %>
<nav class="navbar navbar-default">


</nav>
    <div class="container">
<a href="/register">sign up</a>
<a href="/login">login</a>
<a href="/logout">logout</a>
<a href="/secret">enter</a>
        <form class=".addToList">
            <input class="productId">
            <botton type ="submit">submit</botton>
        
        </form>


    </div>
    <% include ./partials/footer %>
